{# src/Acme/DefaultBundle/Resources/views/Default/index.html.twig #}
{% extends 'AcmeDefaultBundle::layout.html.twig' %}
{% block title %}首页{% endblock %}

{% block js_css %}

{% endblock %} 

{% block main %}
    <section id="main" class="has-fixed-top">





        <header id="mastheader">
            <div class="page-header">
                <div class="container">
                    <div class="page-title pull-left">
                        <h1>		Badge List
                        </h1>
                    </div>


                    <form method="get" action="./?qa=search" class="form-inline search-form pull-right">
                        <input type="hidden" name="qa" value="search">	<div class="form-group">
                            <input type="text" name="q" value="" class="form-control navbar-search" placeholder="Search for questions">
                        </div>
                        <button type="submit" class="icon-magnifier btn btn-primary" title="Search"></button>			
                    </form>

                    <div class="ra-social-output clearfix">
                        <ul class="inline only-icon">
                            <li><a target="_blank" href="http://facebook.com/nerdaryan"><img style="height:24px;width:24px" src="http://www.demo.local/qa-plugin/ra-social/images/facebook_24.png"><span>facebook</span></a></li>
                            <li><a target="_blank" href="https://twitter.com/nerdaryan"><img style="height:24px;width:24px" src="http://www.demo.local/qa-plugin/ra-social/images/twitter_24.png"><span>twitter</span></a></li>
                            <li><a target="_blank" href="https://plus.google.com/102280288713981086298"><img style="height:24px;width:24px" src="http://www.demo.local/qa-plugin/ra-social/images/google-plus_24.png"><span>PlusOne</span></a></li>
                        </ul>
                    </div>
                </div>	
            </div>
        </header>


        <script type="text/javascript">
            var b = document.getElementsByTagName('body')[0];
            b.className = b.className.replace('qa-body-js-off', 'qa-body-js-on');
        </script>
        <div id="index">
            <div class="contents ">
                <div id="plugin" class="main-parts">
                    <div id="builder_plugin" data-name="plugin" class="dynamic-layout "><div class="ra-row parent ui-draggable">  <div class="item-content"> <div class="ra-container"><div class="container"><div class="row"><div class="col-md-12 column ui-sortable"><div class="item parent ui-draggable">  <div data-type="ra_widget" data-name="Main Parts" class="item-content widget-c">				<div class="container qa-part-custom">
                                                            <em>The following is a list of all badges available on this site:</em><br>
                                                        </div>
                                                        <div class="container qa-part-custom2">
                                                            <div class="container qa-part-custom3">
                                                            </div><div class="container qa-part-custom4">
                                                            </div><div class="container qa-part-custom5">
                                                            </div><div class="container qa-part-custom6">
                                                            </div><div class="container qa-part-custom7">
                                                            </div><div class="container qa-part-custom8">
                                                            </div><div class="container qa-part-custom9">
                                                            </div><div class="container qa-part-custom10">
                                                            </div><div class="container qa-part-custom11">
                                                            </div><div class="container qa-part-custom12">
                                                            </div><div class="container qa-part-custom13">
                                                            </div><div class="container qa-part-custom14">
                                                            </div><div class="container qa-part-custom15">
                                                            </div><div class="container qa-part-custom16">
                                                            </div><div class="container qa-part-custom17">
                                                            </div><div class="container qa-part-custom18">
                                                            </div><div class="container qa-part-custom19">
                                                            </div><div class="container qa-part-custom20">
                                                            </div><div class="container qa-part-custom21">
                                                            </div><div class="container qa-part-custom22">
                                                            </div><div class="container qa-part-custom23">
                                                            </div><div class="container qa-part-custom24">
                                                            </div><div class="container qa-part-custom25">
                                                            </div><div class="container qa-part-custom26">
                                                            </div><div class="container qa-part-custom27">
                                                            </div><div class="container qa-part-custom28">
                                                            </div><div class="container qa-part-custom29">
                                                            </div><div class="container qa-part-custom30">
                                                            </div><div class="container qa-part-custom31">
                                                            </div><div class="container qa-part-custom32">
                                                            </div><div class="container qa-part-custom33">
                                                            </div><div class="container qa-part-custom34">
                                                            </div><div class="container qa-part-custom35">
                                                            </div><div class="container qa-part-custom36">
                                                            </div><div class="container qa-part-custom37">
                                                            </div><div class="container qa-part-custom38">
                                                            </div><div class="container qa-part-custom39">
                                                            </div><div class="container qa-part-custom40">
                                                            </div><div class="container qa-part-custom41">
                                                            </div><div class="container qa-part-custom42">
                                                            </div><div class="container qa-part-custom43">
                                                            </div><div class="container qa-part-custom44">
                                                            </div><div class="container qa-part-custom45">
                                                            </div><div class="container qa-part-custom46">
                                                            </div><div class="container qa-part-custom47">
                                                            </div><div class="container qa-part-custom48">
                                                            </div><div class="container qa-part-custom49">
                                                            </div><div class="container qa-part-custom50">
                                                            </div><div class="container qa-part-custom51">
                                                            </div><div class="container qa-part-custom52">
                                                            </div><div class="container qa-part-custom53">
                                                            </div><div class="container qa-part-custom54">
                                                            </div><div class="container qa-part-custom55">
                                                            </div><div class="container qa-part-custom56">
                                                            </div><div class="container qa-part-custom57">
                                                            </div><div class="container qa-part-custom58">
                                                            </div><div class="container qa-part-custom59">
                                                            </div><div class="container qa-part-custom60">
                                                            </div><div class="container qa-part-custom61">
                                                            </div><div class="container qa-part-custom62">
                                                            </div><div class="container qa-part-custom63">
                                                            </div><table cellspacing="20">

                                                                <tbody><tr><td class="badge-entry"><div class="badge-entry-badge"><span class="badge-bronze" title="Bronze">Verified Human</span>&nbsp;<span class="badge-entry-desc">Successfully verified email address</span></div></td></tr>

                                                                    <tr><td class="badge-entry"><div class="badge-entry-badge"><span class="badge-bronze" title="Bronze">Autobiographer</span>&nbsp;<span class="badge-entry-desc">Filled out all profile fields</span>&nbsp;<span title="1 awarded" class="badge-count-link" onclick="jQuery('#badge-users-profiler').slideToggle()">x1</span></div><div style="display:none" id="badge-users-profiler" class="badge-users"><a href="./?qa=user/admin">admin</a></div></td></tr>

                                                                    <tr><td class="badge-entry"><div class="badge-entry-badge"><span class="badge-bronze" title="Bronze">Photogenic</span>&nbsp;<span class="badge-entry-desc">Uploaded an avatar image</span>&nbsp;<span title="19 awarded" class="badge-count-link" onclick="jQuery('#badge-users-avatar').slideToggle()">x19</span></div><div style="display:none" id="badge-users-avatar" class="badge-users"><a href="./?qa=user/dento">dento</a>, <a href="./?qa=user/marilyn">marilyn</a>, <a href="./?qa=user/selena">selena</a>, <a href="./?qa=user/miranda">miranda</a>, <a href="./?qa=user/Fynn">Fynn</a>, <a href="./?qa=user/monu">monu</a>, <a href="./?qa=user/muboy">muboy</a>, <a href="./?qa=user/one_eyed">one_eyed</a>, <a href="./?qa=user/juggornot">juggornot</a>, <a href="./?qa=user/old_man">old_man</a>, <a href="./?qa=user/princess">princess</a>, <a href="./?qa=user/mr_incredible">mr_incredible</a>, <a href="./?qa=user/wall_e">wall_e</a>, <a href="./?qa=user/buzz">buzz</a>, <a href="./?qa=user/russell">russell</a>, <a href="./?qa=user/john">john</a>, <a href="./?qa=user/boy">boy</a>, <a href="./?qa=user/admin">admin</a>, <a href="./?qa=user/test">test</a></div></td></tr>

                                                                    <tr><td class="badge-entry"><div class="badge-entry-badge"><span class="badge-bronze" title="Bronze">Nice Question</span>&nbsp;<span class="badge-entry-desc">Question received +2 upvote</span>&nbsp;<span title="21 awarded" class="badge-count-link" onclick="jQuery('#badge-users-nice_question').slideToggle()">x21</span></div><div style="display:none" id="badge-users-nice_question" class="badge-users"><a href="./?qa=user/admin">admin x3</a>, <a href="./?qa=user/boy">boy</a>, <a href="./?qa=user/john">john</a>, <a href="./?qa=user/selena">selena</a>, <a href="./?qa=user/miranda">miranda</a>, <a href="./?qa=user/dento">dento</a>, <a href="./?qa=user/marilyn">marilyn</a>, <a href="./?qa=user/muboy">muboy</a>, <a href="./?qa=user/monu">monu</a>, <a href="./?qa=user/Fynn">Fynn</a>, <a href="./?qa=user/one_eyed">one_eyed x2</a>, <a href="./?qa=user/juggornot">juggornot</a>, <a href="./?qa=user/old_man">old_man</a>, <a href="./?qa=user/mr_incredible">mr_incredible</a>, <a href="./?qa=user/princess">princess</a>, <a href="./?qa=user/wall_e">wall_e</a>, <a href="./?qa=user/buzz">buzz</a>, <a href="./?qa=user/russell">russell</a></div></td></tr>

                                                                    <tr><td class="badge-entry"><div class="badge-entry-badge"><span class="badge-silver" title="Silver">Good Question</span>&nbsp;<span class="badge-entry-desc">Question received +5 upvote</span>&nbsp;<span title="9 awarded" class="badge-count-link" onclick="jQuery('#badge-users-good_question').slideToggle()">x9</span></div><div style="display:none" id="badge-users-good_question" class="badge-users"><a href="./?qa=user/john">john</a>, <a href="./?qa=user/boy">boy</a>, <a href="./?qa=user/selena">selena</a>, <a href="./?qa=user/muboy">muboy</a>, <a href="./?qa=user/juggornot">juggornot</a>, <a href="./?qa=user/monu">monu</a>, <a href="./?qa=user/miranda">miranda</a>, <a href="./?qa=user/mr_incredible">mr_incredible</a>, <a href="./?qa=user/princess">princess</a></div></td></tr>

                                                                    <tr><td class="badge-entry"><div class="badge-entry-badge"><span class="badge-gold" title="Gold">Great Question</span>&nbsp;<span class="badge-entry-desc">Question received +10 upvote</span></div></td></tr>

                                                                    <tr><td class="badge-entry"><div class="badge-entry-badge"><span class="badge-bronze" title="Bronze">Notable Question</span>&nbsp;<span class="badge-entry-desc">Asked question received 50 views</span></div></td></tr>

                                                                    <tr><td class="badge-entry"><div class="badge-entry-badge"><span class="badge-silver" title="Silver">Popular Question</span>&nbsp;<span class="badge-entry-desc">Asked question received 100 views</span></div></td></tr>

                                                                    <tr><td class="badge-entry"><div class="badge-entry-badge"><span class="badge-gold" title="Gold">Famous Question</span>&nbsp;<span class="badge-entry-desc">Asked question received 500 views</span></div></td></tr>

                                                                    <tr><td class="badge-entry"><div class="badge-entry-badge"><span class="badge-bronze" title="Bronze">Nice Answer</span>&nbsp;<span class="badge-entry-desc">Answer received +2 upvote</span>&nbsp;<span title="4 awarded" class="badge-count-link" onclick="jQuery('#badge-users-nice_answer').slideToggle()">x4</span></div><div style="display:none" id="badge-users-nice_answer" class="badge-users"><a href="./?qa=user/dento">dento</a>, <a href="./?qa=user/princess">princess</a>, <a href="./?qa=user/john">john</a>, <a href="./?qa=user/juggornot">juggornot</a></div></td></tr>

                                                                    <tr><td class="badge-entry"><div class="badge-entry-badge"><span class="badge-silver" title="Silver">Good Answer</span>&nbsp;<span class="badge-entry-desc">Answer received +5 upvote</span></div></td></tr>

                                                                    <tr><td class="badge-entry"><div class="badge-entry-badge"><span class="badge-gold" title="Gold">Great Answer</span>&nbsp;<span class="badge-entry-desc">Answer received +10 upvote</span></div></td></tr>

                                                                    <tr><td class="badge-entry"><div class="badge-entry-badge"><span class="badge-bronze" title="Bronze">Renewal</span>&nbsp;<span class="badge-entry-desc">Received Nice Answer badge in response to a question more than 30 days old</span></div></td></tr>

                                                                    <tr><td class="badge-entry"><div class="badge-entry-badge"><span class="badge-silver" title="Silver">Revival</span>&nbsp;<span class="badge-entry-desc">Received Good Answer badge in response to a question more than 60 days old</span></div></td></tr>

                                                                    <tr><td class="badge-entry"><div class="badge-entry-badge"><span class="badge-gold" title="Gold">Resurrection</span>&nbsp;<span class="badge-entry-desc">Received Great Answer badge in response to a question more than 120 days old</span></div></td></tr>

                                                                    <tr><td class="badge-entry"><div class="badge-entry-badge"><span class="badge-bronze" title="Bronze">Gifted</span>&nbsp;<span class="badge-entry-desc">1 answer selected as best answer</span>&nbsp;<span title="8 awarded" class="badge-count-link" onclick="jQuery('#badge-users-gifted').slideToggle()">x8</span></div><div style="display:none" id="badge-users-gifted" class="badge-users"><a href="./?qa=user/selena">selena</a>, <a href="./?qa=user/dento">dento</a>, <a href="./?qa=user/john">john</a>, <a href="./?qa=user/old_man">old_man</a>, <a href="./?qa=user/buzz">buzz</a>, <a href="./?qa=user/mr_incredible">mr_incredible</a>, <a href="./?qa=user/juggornot">juggornot</a>, <a href="./?qa=user/admin">admin</a></div></td></tr>

                                                                    <tr><td class="badge-entry"><div class="badge-entry-badge"><span class="badge-silver" title="Silver">Wise</span>&nbsp;<span class="badge-entry-desc">10 answers selected as best answer</span></div></td></tr>

                                                                    <tr><td class="badge-entry"><div class="badge-entry-badge"><span class="badge-gold" title="Gold">Enlightened</span>&nbsp;<span class="badge-entry-desc">30 answers selected as best answer</span></div></td></tr>

                                                                    <tr><td class="badge-entry"><div class="badge-entry-badge"><span class="badge-bronze" title="Bronze">Grateful</span>&nbsp;<span class="badge-entry-desc">Selected 1 answer as best answer</span>&nbsp;<span title="6 awarded" class="badge-count-link" onclick="jQuery('#badge-users-grateful').slideToggle()">x6</span></div><div style="display:none" id="badge-users-grateful" class="badge-users"><a href="./?qa=user/marilyn">marilyn</a>, <a href="./?qa=user/admin">admin</a>, <a href="./?qa=user/one_eyed">one_eyed</a>, <a href="./?qa=user/john">john</a>, <a href="./?qa=user/muboy">muboy</a>, <a href="./?qa=user/wall_e">wall_e</a></div></td></tr>

                                                                    <tr><td class="badge-entry"><div class="badge-entry-badge"><span class="badge-silver" title="Silver">Respectful</span>&nbsp;<span class="badge-entry-desc">Selected 20 answers as best answer</span></div></td></tr>

                                                                    <tr><td class="badge-entry"><div class="badge-entry-badge"><span class="badge-gold" title="Gold">Reverential</span>&nbsp;<span class="badge-entry-desc">Selected 50 answers as best answer</span></div></td></tr>

                                                                    <tr><td class="badge-entry"><div class="badge-entry-badge"><span class="badge-bronze" title="Bronze">Liked</span>&nbsp;<span class="badge-entry-desc">Received 20 total upvotes</span></div></td></tr>

                                                                    <tr><td class="badge-entry"><div class="badge-entry-badge"><span class="badge-silver" title="Silver">Loved</span>&nbsp;<span class="badge-entry-desc">Received 50 total upvotes</span></div></td></tr>

                                                                    <tr><td class="badge-entry"><div class="badge-entry-badge"><span class="badge-gold" title="Gold">Revered</span>&nbsp;<span class="badge-entry-desc">Received 200 total upvotes</span></div></td></tr>

                                                                    <tr><td class="badge-entry"><div class="badge-entry-badge"><span class="badge-bronze" title="Bronze">Asker</span>&nbsp;<span class="badge-entry-desc">Asked 10 questions</span></div></td></tr>

                                                                    <tr><td class="badge-entry"><div class="badge-entry-badge"><span class="badge-silver" title="Silver">Questioner</span>&nbsp;<span class="badge-entry-desc">Asked 25 questions</span></div></td></tr>

                                                                    <tr><td class="badge-entry"><div class="badge-entry-badge"><span class="badge-gold" title="Gold">Inquisitor</span>&nbsp;<span class="badge-entry-desc">Asked 50 questions</span></div></td></tr>

                                                                    <tr><td class="badge-entry"><div class="badge-entry-badge"><span class="badge-bronze" title="Bronze">Answerer</span>&nbsp;<span class="badge-entry-desc">Posted 25 answers</span></div></td></tr>

                                                                    <tr><td class="badge-entry"><div class="badge-entry-badge"><span class="badge-silver" title="Silver">Lecturer</span>&nbsp;<span class="badge-entry-desc">Posted 50 answers</span></div></td></tr>

                                                                    <tr><td class="badge-entry"><div class="badge-entry-badge"><span class="badge-gold" title="Gold">Preacher</span>&nbsp;<span class="badge-entry-desc">Posted 100 answers</span></div></td></tr>

                                                                    <tr><td class="badge-entry"><div class="badge-entry-badge"><span class="badge-bronze" title="Bronze">Commenter</span>&nbsp;<span class="badge-entry-desc">Posted 50 comments</span></div></td></tr>

                                                                    <tr><td class="badge-entry"><div class="badge-entry-badge"><span class="badge-silver" title="Silver">Commentator</span>&nbsp;<span class="badge-entry-desc">Posted 100 comments</span></div></td></tr>

                                                                    <tr><td class="badge-entry"><div class="badge-entry-badge"><span class="badge-gold" title="Gold">Annotator</span>&nbsp;<span class="badge-entry-desc">Posted 500 comments</span></div></td></tr>

                                                                    <tr><td class="badge-entry"><div class="badge-entry-badge"><span class="badge-bronze" title="Bronze">Voter</span>&nbsp;<span class="badge-entry-desc">Voted 10 times</span>&nbsp;<span title="8 awarded" class="badge-count-link" onclick="jQuery('#badge-users-voter').slideToggle()">x8</span></div><div style="display:none" id="badge-users-voter" class="badge-users"><a href="./?qa=user/admin">admin</a>, <a href="./?qa=user/juggornot">juggornot</a>, <a href="./?qa=user/one_eyed">one_eyed</a>, <a href="./?qa=user/princess">princess</a>, <a href="./?qa=user/wall_e">wall_e</a>, <a href="./?qa=user/buzz">buzz</a>, <a href="./?qa=user/russell">russell</a>, <a href="./?qa=user/marilyn">marilyn</a></div></td></tr>

                                                                    <tr><td class="badge-entry"><div class="badge-entry-badge"><span class="badge-silver" title="Silver">Avid Voter</span>&nbsp;<span class="badge-entry-desc">Voted 50 times</span></div></td></tr>

                                                                    <tr><td class="badge-entry"><div class="badge-entry-badge"><span class="badge-gold" title="Gold">Devoted Voter</span>&nbsp;<span class="badge-entry-desc">Voted 200 times</span></div></td></tr>

                                                                    <tr><td class="badge-entry"><div class="badge-entry-badge"><span class="badge-bronze" title="Bronze">Editor</span>&nbsp;<span class="badge-entry-desc">Performed total of 1 edit</span>&nbsp;<span title="1 awarded" class="badge-count-link" onclick="jQuery('#badge-users-editor').slideToggle()">x1</span></div><div style="display:none" id="badge-users-editor" class="badge-users"><a href="./?qa=user/admin">admin</a></div></td></tr>

                                                                    <tr><td class="badge-entry"><div class="badge-entry-badge"><span class="badge-silver" title="Silver">Copy Editor</span>&nbsp;<span class="badge-entry-desc">Performed total of 15 edits</span></div></td></tr>

                                                                    <tr><td class="badge-entry"><div class="badge-entry-badge"><span class="badge-gold" title="Gold">Senior Editor</span>&nbsp;<span class="badge-entry-desc">Performed total of 50 edits</span></div></td></tr>

                                                                    <tr><td class="badge-entry"><div class="badge-entry-badge"><span class="badge-bronze" title="Bronze">Watchdog</span>&nbsp;<span class="badge-entry-desc">flagged 1 post as inappropriate</span></div></td></tr>

                                                                    <tr><td class="badge-entry"><div class="badge-entry-badge"><span class="badge-silver" title="Silver">Bloodhound</span>&nbsp;<span class="badge-entry-desc">flagged 10 posts as inappropriate</span></div></td></tr>

                                                                    <tr><td class="badge-entry"><div class="badge-entry-badge"><span class="badge-gold" title="Gold">Pitbull</span>&nbsp;<span class="badge-entry-desc">flagged 30 posts as inappropriate</span></div></td></tr>

                                                                    <tr><td class="badge-entry"><div class="badge-entry-badge"><span class="badge-bronze" title="Bronze">Reader</span>&nbsp;<span class="badge-entry-desc">Read total of 20 questions</span></div></td></tr>

                                                                    <tr><td class="badge-entry"><div class="badge-entry-badge"><span class="badge-silver" title="Silver">Avid Reader</span>&nbsp;<span class="badge-entry-desc">Read total of 50 questions</span></div></td></tr>

                                                                    <tr><td class="badge-entry"><div class="badge-entry-badge"><span class="badge-gold" title="Gold">Devoted Reader</span>&nbsp;<span class="badge-entry-desc">Read total of 200 questions</span></div></td></tr>

                                                                    <tr><td class="badge-entry"><div class="badge-entry-badge"><span class="badge-bronze" title="Bronze">Dedicated</span>&nbsp;<span class="badge-entry-desc">Visited every day for 10 consecutive days</span>&nbsp;<span title="1 awarded" class="badge-count-link" onclick="jQuery('#badge-users-dedicated').slideToggle()">x1</span></div><div style="display:none" id="badge-users-dedicated" class="badge-users"><a href="./?qa=user/admin">admin</a></div></td></tr>

                                                                    <tr><td class="badge-entry"><div class="badge-entry-badge"><span class="badge-silver" title="Silver">Devoted</span>&nbsp;<span class="badge-entry-desc">Visited every day for 25 consecutive days</span></div></td></tr>

                                                                    <tr><td class="badge-entry"><div class="badge-entry-badge"><span class="badge-gold" title="Gold">Zealous</span>&nbsp;<span class="badge-entry-desc">Visited every day for 50 consecutive days</span></div></td></tr>

                                                                    <tr><td class="badge-entry"><div class="badge-entry-badge"><span class="badge-bronze" title="Bronze">Visitor</span>&nbsp;<span class="badge-entry-desc">Visited site on total of 30 days</span>&nbsp;<span title="1 awarded" class="badge-count-link" onclick="jQuery('#badge-users-visitor').slideToggle()">x1</span></div><div style="display:none" id="badge-users-visitor" class="badge-users"><a href="./?qa=user/admin">admin</a></div></td></tr>

                                                                    <tr><td class="badge-entry"><div class="badge-entry-badge"><span class="badge-silver" title="Silver">Trouper</span>&nbsp;<span class="badge-entry-desc">Visited site on total of 100 days</span></div></td></tr>

                                                                    <tr><td class="badge-entry"><div class="badge-entry-badge"><span class="badge-gold" title="Gold">Veteran</span>&nbsp;<span class="badge-entry-desc">Visited site on total of 200 days</span></div></td></tr>

                                                                    <tr><td class="badge-entry"><div class="badge-entry-badge"><span class="badge-bronze" title="Bronze">Regular</span>&nbsp;<span class="badge-entry-desc">First visited more than 90 days ago</span></div></td></tr>

                                                                    <tr><td class="badge-entry"><div class="badge-entry-badge"><span class="badge-silver" title="Silver">Old-Timer</span>&nbsp;<span class="badge-entry-desc">First visited more than 180 days ago</span></div></td></tr>

                                                                    <tr><td class="badge-entry"><div class="badge-entry-badge"><span class="badge-gold" title="Gold">Ancestor</span>&nbsp;<span class="badge-entry-desc">First visited more than 365 days ago</span></div></td></tr>

                                                                    <tr><td class="badge-entry"><div class="badge-entry-badge"><span class="badge-bronze" title="Bronze">100 Club</span>&nbsp;<span class="badge-entry-desc">Received total of 100 points</span>&nbsp;<span title="22 awarded" class="badge-count-link" onclick="jQuery('#badge-users-100_club').slideToggle()">x22</span></div><div style="display:none" id="badge-users-100_club" class="badge-users"><a href="./?qa=user/admin">admin</a>, <a href="./?qa=user/dento">dento</a>, <a href="./?qa=user/marilyn">marilyn</a>, <a href="./?qa=user/selena">selena</a>, <a href="./?qa=user/miranda">miranda</a>, <a href="./?qa=user/Fynn">Fynn</a>, <a href="./?qa=user/monu">monu</a>, <a href="./?qa=user/muboy">muboy</a>, <a href="./?qa=user/one_eyed">one_eyed</a>, <a href="./?qa=user/juggornot">juggornot</a>, <a href="./?qa=user/old_man">old_man</a>, <a href="./?qa=user/princess">princess</a>, <a href="./?qa=user/mr_incredible">mr_incredible</a>, <a href="./?qa=user/wall_e">wall_e</a>, <a href="./?qa=user/buzz">buzz</a>, <a href="./?qa=user/russell">russell</a>, <a href="./?qa=user/john">john</a>, <a href="./?qa=user/rahul+aryan">rahul aryan</a>, <a href="./?qa=user/test.dot">test.dot</a>, <a href="./?qa=user/boy">boy</a>, <a href="./?qa=user/shyinyong">shyinyong</a>, <a href="./?qa=user/test">test</a></div></td></tr>

                                                                    <tr><td class="badge-entry"><div class="badge-entry-badge"><span class="badge-silver" title="Silver">1,000 Club</span>&nbsp;<span class="badge-entry-desc">Received total of 1000 points</span>&nbsp;<span title="1 awarded" class="badge-count-link" onclick="jQuery('#badge-users-1000_club').slideToggle()">x1</span></div><div style="display:none" id="badge-users-1000_club" class="badge-users"><a href="./?qa=user/admin">admin</a></div></td></tr>

                                                                    <tr><td class="badge-entry"><div class="badge-entry-badge"><span class="badge-gold" title="Gold">10,000 Club</span>&nbsp;<span class="badge-entry-desc">Received total of 10000 points</span></div></td></tr>

                                                                    <tr><td class="badge-entry"><div class="badge-entry-badge"><span class="badge-bronze" title="Bronze">Medalist</span>&nbsp;<span class="badge-entry-desc">Received total of 10 badges</span>&nbsp;<span title="1 awarded" class="badge-count-link" onclick="jQuery('#badge-users-medalist').slideToggle()">x1</span></div><div style="display:none" id="badge-users-medalist" class="badge-users"><a href="./?qa=user/admin">admin</a></div></td></tr>

                                                                    <tr><td class="badge-entry"><div class="badge-entry-badge"><span class="badge-silver" title="Silver">Champion</span>&nbsp;<span class="badge-entry-desc">Received total of 30 badges</span></div></td></tr>

                                                                    <tr><td class="badge-entry"><div class="badge-entry-badge"><span class="badge-gold" title="Gold">Olympian</span>&nbsp;<span class="badge-entry-desc">Received total of 100 badges</span></div></td></tr>

                                                                    <tr><td class="badge-entry"><span class="total-badges">60 total badges</span>, <span class="total-badge-count">103 awarded in total</span></td></tr></tbody></table>
                                                        </div>
                                                    </div> </div></div></div></div></div> </div> </div>
                    </div>

                </div>
            </div>


        </div>
        <div style="position:absolute; left:-9999px; top:-9999px;">
            <span id="qa-waiting-template" class="qa-waiting">...</span>
        </div>
    </section>
{% endblock %}