{# src/Acme/DefaultBundle/Resources/views/Default/index.html.twig #}
{% extends 'AcmeDefaultBundle::layout.html.twig' %}
{% block title %}欢迎您登录 {% endblock %}

{% block js_css %}
    <script type="text/javascript">

    </script>
{% endblock %} 
{% block main %}
    <section id="main" class="has-fixed-top">
        <header id="mastheader">
            <div class="page-header">
                <div class="container">
                    <div class="page-title pull-left">
                        <h1>登录</h1>
                    </div>
                    <form method="get" action="./?qa=search" class="form-inline search-form pull-right">
                        <input type="hidden" name="qa" value="search">	<div class="form-group">
                            <input type="text" name="q" value="" class="form-control navbar-search" placeholder="Search for questions">
                        </div>
                        <button type="submit" class="icon-magnifier btn btn-primary" title="Search"></button>
                    </form>
                    <div class="ra-social-output clearfix">
                        <ul class="inline only-icon">
                            <li><a target="_blank" href="http://facebook.com/nerdaryan"><img style="height:24px;width:24px" src="http://www.demo.local/qa-plugin/ra-social/images/facebook_24.png"><span>facebook</span></a></li>
                            <li><a target="_blank" href="https://twitter.com/nerdaryan"><img style="height:24px;width:24px" src="http://www.demo.local/qa-plugin/ra-social/images/twitter_24.png"><span>twitter</span></a></li>
                            <li><a target="_blank" href="https://plus.google.com/102280288713981086298"><img style="height:24px;width:24px" src="http://www.demo.local/qa-plugin/ra-social/images/google-plus_24.png"><span>PlusOne</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </header>
        <script type="text/javascript">
            var b = document.getElementsByTagName('body')[0];
            b.className = b.className.replace('qa-body-js-off', 'qa-body-js-on');
        </script>
        <div id="index">
            <div class="contents ">
                <div id="login">

                    <div class="container">
                        <form  id="form" class="form-horizontal" method="post" action="{{ path("fos_user_security_check") }}">
                            <div class="qa-form-tall">
                                <div class="form-group emailhandle clearfix">
                                    <div class="col-lg-10">
                                        <input name="_username" id="emailhandle" type="text" value="" class="qa-form-tall-text" placeholder="Email or Username">
                                    </div>
                                </div>
                                <div class="form-group password clearfix">
                                    <div class="col-lg-10">
                                        <input name="_password" id="password" type="password" value="" class="qa-form-tall-text" placeholder="Password">
                                        <span class="help-inline">
                                            <div class="qa-form-tall-note">
                                                {% if error %}
                                                    {{ error|trans }}
                                                {% endif %}
                                            </div>
                                        </span>
                                    </div>
                                </div>
                                <div class="form-group remember clearfix">
                                    <label class="col-lg-2 control-label">
                                        这是我的个人计算机
                                    </label>
                                    <div class="col-lg-10">
                                        <input name="_remember_me" type="checkbox" value="on" class="qa-form-tall-checkbox">
                                    </div>
                                </div>
                                <div class="form-actions">

                                    <input value="登录" title="" type="submit" name="_submit" class="btn btn-default btn-login">
                                </div>
                            </div>
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div style="position:absolute; left:-9999px; top:-9999px;">
            <span id="qa-waiting-template" class="qa-waiting">...</span>
        </div>
    </section>
{% endblock %}